@model DeleteCountryInputModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this country and all its cities from operational areas?</h3>
<div>
    <hr />
    <div class="d-flex justify-content-around">
        <div>
            <h3>Name</h3>
        </div>
        <div>
            <h3>@Model.Name</h3>
        </div>
    </div>
    <hr />
    <form asp-action="DeleteCountry" method="post">
        <div class="d-flex justify-content-between">
            <div>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            <div>
                <a class="btn btn-info" asp-action="Index">Back</a>
            </div>
        </div>
    </form>
</div>
