@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavManager

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" />
    </Found>
    <NotFound>
        @*@{
            NavManager.NavigateTo("/Error/HttpError?statusCode=404", true);
        }*@

        <h1>Error</h1>
    </NotFound>
</Router>
