@using Hss.Web.ViewModels.Categories
@model CategoriesListViewModel

@{
    ViewData["Title"] = "All";
}

<h1>Categories</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="d-flex">
    <component type="typeof(CategoriesAllComponent)" render-mode="ServerPrerendered" />
</div>

