@using Hss.Web.ViewModels.Categories
@model CategoriesListViewModel

@{
    ViewData["Title"] = "All";
}

<h1>Categories</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<component type="typeof(CategoriesAllComponent)" render-mode="ServerPrerendered" />
<div>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create New</a>
</div>

