@using Hss.Web.ViewModels.Categories
@model CategoriesListViewModel

@{
    ViewData["Title"] = "All";
}

<h1>Categories</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="d-flex">
    <vc:categories-list id="null"></vc:categories-list>
</div>
<hr />
<p>
    <a class="btn btn-primary" asp-area="Administration" asp-controller="Categories" asp-action="Create">Create New</a>
</p>
