@model Hss.Web.ViewModels.Administration.Categories.CreateCategoryInputModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Service Category</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="parentCategory">Parant Category</label>
                <select asp-items="Model.Categories" id="parentCategoryId" class="form-control" name="parentCategoryId">
                    <option selected="selected" value="">--Select Parent Category--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        <div class="form-group">
            <dl>
                <dt>
                    <label asp-for="Image"></label>
                </dt>
                <dd>
                    <input asp-for="Image" type="file">
                </dd>
            </dl>
        </div>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a class="btn btn-info" asp-action="All">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
