@page "/Administration/Teams"
@layout AdminLayout
@using Hss.Web.Areas.Administration.Components.Teams

    <div class="mt-4">
        <NavLink class="btn btn-outline-primary" href="/Administration/Teams/Create">
            Create Team
        </NavLink>
    </div>
  

    <TeamsListForLocation></TeamsListForLocation>

@code {

}
