<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admininstration
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Dashboard">Dashboard</a>
        <a class="dropdown-item" asp-area="Administration" asp-controller="Users" asp-action="All" title="All">Users</a>
        <a class="dropdown-item" asp-area="Administration" asp-controller="Categories" asp-action="Create" title="Create">Create Category</a>
        <a class="dropdown-item" asp-area="Administration" asp-controller="Services" asp-action="Create" title="Create">Create Service</a>
        <a class="dropdown-item" asp-area="Administration" asp-controller="OperationalLocations" asp-action="" title="Create">Locations</a>
    </div>
</li>