@using Hss.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="jumbotron index-bg text-white text-center">
    <h1 class="display-1">Welcome to Home Services and Solutions!</h1>
</div>

<component type="typeof(CategoriesAllComponent)" render-mode="ServerPrerendered" />
