@using Hss.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="jumbotron index-bg text-white text-center">
    <h1 class="display-1">Welcome to Home Services and Solutions!</h1>
</div>

<div class="d-flex justify-content-center mt-3 mb-3">
    <a class="btn btn-lg btn-outline-primary" asp-area="" asp-controller="Orders" asp-action="BookService">Book Service</a>
</div>

<component type="typeof(CategoriesAllComponent)" render-mode="ServerPrerendered" />
