@using Hss.Web.ViewModels.Components.RazorComponents

@inject Hss.Services.Data.Services.IServicesService serviceService


@if (this.Services == null)
{
    <h4>Loading...</h4>
}
else
{
    <div class="row d-flex justify-content-center">
        @foreach (var service in this.Services)
        {
            <div class="col-lg-3">
                <div class="card">
                    <img class="card-img-top" src="@service.ImageUrl" alt="@service.Name image" style="width:18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@service.Name</h5>
                        <p class="card-text">@((MarkupString)service.SanitizeShortDescription)</p>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">

                                <div>
                                    <a class="btn btn-secondary" href="/Services/Details/@service.Id">Details</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    public IEnumerable<ServiceCardListViewModel> Services { get; set; }

    [Parameter]
    public int CategoryId { get; set; }

    protected override void OnInitialized()
    {
        this.Services = this.serviceService.GetAllByCategoryId<ServiceCardListViewModel>(this.CategoryId);
    }
}
